.progress{
    width:50%;
    height:3rem!important;
    margin-bottom:1rem!important;
    font-size: 1rem!important;
    position:relative;

}
.progressBar{
    display:flex;
    flex-direction: column;
    background-color: #007bff;
    transition: width 0.5s;

}
.bar-value{
    position: absolute;
    top: 25%;
    left: 50%;
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.danger{
    background-color: #dc3545!important;
}
@media screen and (max-width:500px){
    .progress{
        width:80%;
    }
    
}